.main-nav
  position: relative
  background: $light-blue
  height: 40px
  width: 100vw
  +clearfix
  box-shadow: $box-dropshadow


  .logo
    float: left
    margin-left: 20px

    img
      height: 35px
      width: auto
      margin-top: 2.5px


  .menu-main-menu-container
    padding-top: 7.5px
    float: right
    +clearfix
    ul
      list-style: none
      text-align: center
      padding: 0
      +display(flex)
      +justify-content(space-around)

      li
        width: 100%

        a
          color: $cream
          text-transform: uppercase
          font-size: 16px
          padding: 5px 20px
          text-align: center
          font-weight: bold
          +transition(all 200ms ease-in-out)
          &:hover
            text-decoration: none
            text-shadow: $text-dropshadow
