.landing-section
  background: $light-blue
  height: 100vh
  box-shadow: $box-dropshadow

  img
    //height: 100vh
    width: auto
    position: absolute
    bottom: 0
    right: 0
    transform: scale(1.5)

  .section-heading
    margin-top: 120px
    width: auto
    display: inline-block

    h1
      color: $cream
      text-transform: uppercase
      font-size: 65px
      text-shadow: $text-dropshadow
      margin-bottom: 0

      &::before
        content: ""
        display: block
        +horizontal-line(240px, $cream)
        margin: 6px auto 0

    h2
      color: $cream
      font-family: $sans-font
      font-size: 45px
      text-shadow: $text-dropshadow
      text-align: center
      margin-top: 0

      &::after
        content: ""
        display: block
        +horizontal-line(520px, $cream)
        margin: 15px auto 0

  .lead
    max-width: 475px
    text-align: center
    color: $medium-gray
    font-family: $sans-font
    margin: 20px auto 0



.social-banner
  display: block
  position: absolute
  bottom: 0
  height: 5vh
  background: $dark-gray
  width: 100vw

  .material-icons
    color: transparentize($cream, 0.3)
    line-height: 5vh
    text-align: center
    width: 100%
    transition: ease-in-out all 0.3s

    &:hover
      color: $flat-orange
      cursor: pointer
