.landing-section
  background: $light-blue
  height: 100vh
  box-shadow: $box-dropshadow

  img
    //height: 100vh
    width: auto
    position: absolute
    bottom: 0
    right: 0
    transform: scale(1.5)




  h1
    color: $cream
    text-transform: uppercase
    font-size: 65px
    text-shadow: $text-dropshadow


.social-banner
  display: block
  position: absolute
  bottom: 0
  height: 5vh
  background: $dark-gray
  width: 100vw

  .material-icons
    color: transparentize($cream, 0.3)
    line-height: 5vh
    text-align: center
    width: 100%
    transition: ease-in-out all 0.3s

    &:hover
      color: $flat-orange
      cursor: pointer
      